@font-face {
	font-family: "MatrixCode";
	src: url("matrix_code_nfi.eot"); /* IE9 Compat Modes */
	src: url("matrix_code_nfi.eot?#iefix") format("embedded-opentype"), 
	     url("matrix code nfi.woff") format("woff"), 
	     url("matrix code nfi.ttf") format("truetype");
}

body {
	margin: 0;
}

canvas {
	display: block;
}